// Personal
$backdrop-color: #f5f5f5;
$border-grey-color: #eaeaea;
$vibrant-blue: #054fdb;
$text-blue: #2872ff;
$vibrant-red: #e03a3a;
$chalk-yellow: #ffec77;


// nue
$base-color: #054fdb;
$accent-color: #ffec77;
$safe-color: #2cce57;
$danger-color: #ff3838;
$font-color: #0052cc;

// day phases
$phase-early-morning: #054fdb;
$phase-morning: #054fdb;
$phase-afternoon: #054fdb;
$phase-evening: #054fdb;
$phase-night: #054fdb;
